<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page not found</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('./partials/_nav') %>
  <main>
    <h1>Uh oh!</h1>
    <h2>We couldn't find that page!</h2>
    <img class="event-pic2" src="https://images.squarespace-cdn.com/content/v1/5e979903a7ba545af4c2b7e3/1600361940126-USPBHTFVEORKQABPPDL4/404.gif?format=1000w" alt="Sad pear GIF">
    <a class="link" href="/events">Browse events</a>
  </main>
</body>
</html>